body {
    background-color: #ccc;
}

header {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(204,204,204,1) 100%);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

}

label {
    font-size: 20px;
    color: #a3a3a3;
}

input {
    width: 80%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

.titulo-pagina {
    font-size: 40px;
    color: white;
    font-weight: normal;
}

.full-width {
    border: 5px solid #666666;
    margin-top: 110px;
    margin-bottom: 0;
}

.box {
    background: white;
    padding: 25px;
    border: 1px solid #000000;
    border-top: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 40%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.checkbox-custom {
    width: 25px;
    margin-left: -7px;
}

.footer-text {
    font-size: 20px;
    color: #858585;
    font-weight: bold;
}